<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/invite_form.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,500&display=swap" rel="stylesheet">
    <title>Pegasys</title>
    
</head>
<body>
    <nav class="navbar" id="navbar">
        <a href="/" class="logo" id="logo">Pegasys</a>
        <% if(!currentUser){%>
            <a href="/login" class="nav-links">Login</a>
            <a href="/register" class="nav-links">Sign Up</a>
        <%} else{%>
        <a href="/logout" class="nav-links">LogOut</a>
        <a href="/invites/<%=id%>/notification" class="nav-links"><%=currentUser.username%></a>
        <a href="/invites/<%=id%>" class="nav-links reverse">Home</a>
        <a href="/invites/<%=id%>/new" class="nav-links reverse">Create Invite</a>
        <a href="/invites/<%=id%>/events" class="nav-links reverse">Scheduled Events</a>
        <%}%>
        <a  class="nav-links" id="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </nav>
    <div class="flash-container">
        <%if(error && error.length>0){%>
            <div class="alert alert-danger" role="alert"><%=error%></div>
        <%}%>
        <%if(success && success.length>0){%>
            <div class="alert alert-success" role="alert"><%=success%></div>
        <%}%>	
    </div>
    